# Site assets
#------------
assets/
build/
coffee/
css-build/
image-min/
bower.json
!download_source/bower.json

!init-test/image-min/
!init-test/build/
!init-test/coffee/
!init-test/css-build/
!init-test/image-min/
!init-test/bower.json
!init-test/package.json

# bower downloads
# ---------------
bower_components/


# Sass-related files
# ------------------
*.sass-cache


# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.zip
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps


# Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp
