# Site assets
#------------
assets/
build/
coffee/
css-build/
image-min/
bower.json

.bowerrc
Gruntfile.js
gulpfile.js

!source-shared-files/bower.json
!source-shared-files/for.less
!source-shared-files/.bowerrc

!source-spa/bower.json
!source-wordpress/bower.json
!source-spa/.bowerrc
!source-wordpress/.bowerrc
!source-spa/Gruntfile.js
!source-wordpress/Gruntfile.js
!source-spa/gulpfile.js
!source-wordpress/gulpfile.js



!init-test/image-min/
!init-test/build/
!init-test/coffee/
!init-test/css-build/
!init-test/image-min/
!init-test/bower.json
!init-test/package.json
!init-test/.bowerrc
!init-test/Gruntfile.js
!init-test/gulpfile.js

# bower downloads
# ---------------
bower_components/


# Sass-related files
# ------------------
*.sass-cache


# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps


# Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp
